{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Login Page{% endblock title %}

{% block content %}

<div class="container">
    <h1>Login to Your Account</h1>
    <h2>Please enter your email and password.</h2>
    <!-- 用來接後端傳來的flash-message -->
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <!-- 弄一個x的button，點擊之後讓訊息消失，可參考bootstrap說明 -->
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {{ wtf.quick_form(form) }}
</div>


{% endblock content%}